body {
    height: 100vh;
    background-image: url(https://4kwallpapers.com/images/wallpapers/apple-macbook-pro-stock-2021-apple-event-2021-dark-mode-5120x2880-6759.jpg);
    margin: 0;
    background-size: cover;
    font-family: "Roboto Mono", monospace;
}

.calculator {
    width: 1000px;
    background-color: rgba(255, 255, 255, 0.044);
    padding: 50px 30px;
    margin: auto;
    margin-top: 50px;
    border: solid 2px rgba(255, 255, 255, 0.18);
    border-radius: 20px;
    box-shadow: 0 20px 50px rgba(0, 5, 24, 0.4);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 25px;
    backdrop-filter: blur(6px);
    isolation: isolate;
}
.calculation {
    grid-column: span 6;
}

.history {
    grid-column: span 4;
}

#historyTitle {
    color: rgba(240, 248, 255, 0.574);
    text-align: center;
}

.display input {
    width: 100%;
    padding: 15px 10px;
    font-size: 35px;
    background-color: transparent;
    color: rgba(251, 251, 251, 0.299);
    border: none;
    text-align: right;
}
.display input::placeholder {
    color: #9490ac;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    margin-top: 40px;
}

button {
    font-size: 20px;
    padding: 17px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.digit-button {
    background-color: hsla(206, 74%, 36%, 0.197);
    border: solid 2px rgba(255, 255, 255, 0.18);
}
.digit-button:hover {
    background-color: #6c6a6aa8;
    border: solid 2px rgba(255, 255, 255, 0.18);
}

.operation-button {
    background-color: #0202582f;
    border: solid 2px rgba(255, 255, 255, 0.18);
}
.operation-button:hover {
    background-color: #1248a042;
    border: solid 2px rgba(255, 255, 255, 0.18);
}

#equal {
    grid-row: span 2;
    background-color: #37118529;
    border: solid 2px rgba(255, 255, 255, 0.18);
}
#equal:hover {
    background-color: #3208455b;
    border: solid 2px rgba(255, 255, 255, 0.18);
}
#zero {
    grid-column: span 2;
}

.side-button {
    background-color: #33333340;
    border: solid 2px rgba(255, 255, 255, 0.18);
}
.side-button:hover {
    background-color: #2f00714a;
    border: solid 2px rgba(255, 255, 255, 0.18);
}

.btn-sm {
    font-size: 10px;
    padding: 5px;
    border: none;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}